.signup {
    margin-bottom: 150px;
  }

  .signup-content {
    padding: 75px 0;
    display: flex;
    display: -webkit-flex;
  }

  @media screen and (max-width: 768px) {
    .signup-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
      }
    
      .signup-form {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        box-sizing: border-box;
        padding: 0 30px;
      }

      .signup-form, .signup-image {
        width: auto;
      }

      .form-title {
        text-align: center;
      }
    
  }

  .signup-form, .signup-image {
    width: 50%;
    overflow: hidden;
  }

  .signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
  }

  .form-title {
    margin-bottom: 33px;
  }

  .register-form {
    width: 100%;
  }

  .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
  }

  .agree-term {
    display: inline-block;
    width: auto;
  }

  .term-service {
    font-size: 13px;
    color: #222;
  }

  .form-group:last-child {
    margin-bottom: 0px;
  }

  .form-button {
    text-align: center;
  }

  .form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
  }

  .signup-image {
    margin-top: 45px;
  }

  .signup-image {
    margin: 0 55px;
      margin-top: 0px;
  }

  .signup-form, .signup-image {
    width: 50%;
    overflow: hidden;
  }

  .signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
  }
