<!DOCTYPE html>
<html>
	<head>
		{% include "./modules/_head.html.twig" %}
	</head>
	<body>
		<div class="container">
			<header>

				{% block nav %}
					{% include "./modules/_nav.html.twig" %}
				{% endblock %}
				{% block header %}{% endblock %}
			</header>
			<section>
				{% block body %}{% endblock %}
			</section>

			<footer>
				{% block foot %}
					{% include "./modules/_foot.html.twig" %}
				{% endblock %}
			</footer>
		</div>
		<!-- Fin de page-conteneur -->
	</body>
</html>
