<!DOCTYPE html>
<html>
	<head>
		{% include "./modules/_head.html.twig" %}
	</head>
	<body>
		<div class="container">
			<header>
				{% block nav %}{% endblock %}

			</header>
			<section>
				{% block body %}{% endblock %}
			</section>

			<footer>
				{% block foot %}{% endblock %}
			</footer>
		</div>
		<!-- Fin de page-conteneur -->
	</body>
</html>
